$primary_color: #0255FB;
$secondary_color: #FF9800;
$primary_text_color: #555555;
$secondary_text_color: #757575;

html {
  font-family: Lato, sans-serif;
}

body {
  background: #EDF2F5;
}

nav {
  background-color: $primary_color;
  .brand-logo {
    font-size: 1.4rem;
    margin-left: 10px;
  }
}

#splash-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url('images/logo.svg') $primary_color no-repeat center;
  background-size: 192px 192px;
}

.dropdown-content {
  margin: 10px;
  display: block;
  right: 0;
  left: auto!important;
  width: auto!important;
}

.ride-card {
  display: block;
  color: $primary_text_color;
  .card-title {
    font-size: 16px;
    font-weight: bold;
  }
  .material-icons {
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
  }
  .icon-path .material-icons {
    position: absolute;
    font-size: 16px;
    margin-top: 14px;
    margin-left: 2px;
  }
  .icon-path-dot .material-icons {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ride-path {
    margin-bottom: 10px;
  }
  .card-action p {
    margin: 0;
  }
}

#app-login{
  height: 100%;
  background-color: $primary_color;
}

.password-step {
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    0% { opacity: 0; }
    10% { transform: translateX(150%); opacity: 1; }
    100% { transform: translateX(0%); }
}

#login{
	padding: 80px 40px;
	background-color: #fff;
  overflow: hidden;
	box-shadow: 0 0.5em 0.5em rgba(000,000,000,0.1);
}
